/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

.spaceship {
  pointer-events: none;
  width: 100px;
  height: 100px;
  position: absolute;
  background: transparent url('https://raw.githubusercontent.com/onehungrymind/angular-rxjs-examples/master/src/assets/spaceship.png') no-repeat;
  background-size: contain;
}

app-shot {
  position: absolute;
}